<footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a href="{% url 'analytics' %}" class="nav-link">
            Analytics
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'support' %}" class="nav-link">
            support
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            home
          </a>
        </li>
      </ul>
      <div class="copyright">
        © 2018 - 
        <script>       
          document.write(new Date().getFullYear()) </script> <i class="tim-icons icon-heart-2"></i>.
      </div>
    </div>
  </footer>