<footer
	id="footer"
	data-aos="fade-up"
	data-aos-easing="ease-in-out"
	data-aos-duration="500">
	<div class="footer-newsletter">
		<div class="container" id="contact">
			<div class="row">
				<div class="col-lg-6">
					<h4>Subscribe to Cogurad Newsletter</h4>
					<p>Stay up-to-date with our latest news and promotions.</p>
				</div>
				<div class="col-lg-6">
					<form action="" method="post">
						<input type="email" name="email" /><input
							type="submit"
							value="Subscribe" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="{% url 'home' %}">Home</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i> <a href="#">About us</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i> <a href="#">Services</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Terms of service</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Privacy policy</a>
						</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Cogurad</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> Disease Detection</li>
						<li><i class="bx bx-chevron-right"></i> Expert Recommendations</li>
						<li><i class="bx bx-chevron-right"></i> Farm Monitoring</li>
						<li><i class="bx bx-chevron-right"></i> Mobile Accessibility</li>
						<li><i class="bx bx-chevron-right"></i> 24/7 Support</li>
					</ul>
				</div>
				

				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>Contact Us</h4>
					<p>
						Federal University of Technology Akure  <br />
						 Address. PMB 704<br />
						Ondo state,Nigeria <br /><br />
						<strong>Phone:</strong>+234 813 813 665 <br />
						<strong>Email:</strong> registry@futa.edu.ng <br />
					</p>
				</div>

				<div class="col-lg-3 col-md-6 footer-info">
						<h3>Connect with us</h3>
						<p>
							Join the Cogurad community and stay updated on the latest tools, tips, and innovations for better cocoa farming. Follow us for expert advice and exclusive updates on how to keep your crops healthy and thriving.
						</p>
					</div>
					
					<div class="social-links mt-3">
						<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
						<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
						<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
						<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			 Copyright  ©<strong><span>2024</span></strong
			>. All Rights Reserved
		</div>
		<div class="credits">
		Designed for <a href="https://bootstrapmade.com/">final year</a>
		</div>
	</div>
</footer>
